asgiref==3.6.0
blinker==1.5
Django==3.2.19
httplib2==0.20.4
meson==1.0.1
oauthlib==3.2.2
Pillow==9.4.0
pycups==2.0.1
pycurl==7.45.2
PyJWT==2.6.0
pyparsing==3.0.9
PySimpleSOAP==1.16.2
pysmbc==1.0.23
python-apt==2.6.0
python-dateutil==2.8.2
python-debian==0.1.49
python-debianbts==4.0.1
pytz==2022.7.1
pyxdg==0.28
PyYAML==6.0
reportbug==12.0.0
requests==2.28.1
six==1.16.0
sqlparse==0.4.2
xdg==5
